:root {
  --main-red: #f72210;
  --primary-grey: #333;
  --secondary-grey: #666;
  --titles-grey: #9a9a9a;
  --light-grey: #e7e7e7;
  --body-color: #f4f5f6;
  --main-font: "Roboto Condensed";
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
body {
  background-color: var(--body-color);
  font-family: var(--main-font), sans-serif;
}

.hr {
  flex: 1 1 100%;
}

.container-fluid {
  background-color: var(--white);
}

.unbordered {
  border: none;
  border-radius: unset;
}

.no-radius {
  border-radius: unset;
}

/* ======= Header ======= */
.header {
  height: 50px;
  background-color: var(--main-red);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: var(--white);
  display: none;
}

.logo {
  display: block;
  max-width: 132px;
  height: 20px;
}

.login-button {
  background-color: transparent;
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.subscribe-button {
  background-color: var(--white);
  border: none;
  text-transform: uppercase;
  color: var(--main-red);
  padding: 3px;
  margin: 0 7px;
  font-size: 14px;
  font-weight: bold;
}

.header-menu {
  color: #fb9a94;
  font-size: 26px;
  vertical-align: middle;
  cursor: pointer;
}

/* ======= Nav ======= */
.navbar {
  padding: 0;
  display: none;
  position: relative;
}

.nav-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-self: center;
  min-width: 90%;
  margin: 0;
}

.nav-item {
  flex-grow: 1;
  display: inline-block;
  font-weight: bold;
  color: var(--black);
  text-align: center;
}

.nav-item a {
  color: var(--black);
  padding: 5px 10px;
  text-decoration: none;
}

.nav-item a:hover {
  color: var(--main-red);
}

.nav-item:not(:last-child) {
  border-right: 1px solid var(--light-grey);
}

.nav-item:last-child {
  font-weight: lighter;
}

.triangle {
  width: 100px;
  height: 20px;
  border-top: 20px solid var(--main-red);
  border-left: 29px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  background-color: var(--white);
}

.left-aside {
  border-top: 2px solid var(--body-color);
  padding-top: 10px;
  min-height: 120px;
  order: 2;
}

.section-title {
  color: var(--titles-grey);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.news-card {
  margin-bottom: 10px;
  background-color: unset;
}

.news-card .card-body {
  padding: 1.25rem 0;
}

.news-card .card-title {
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.5em;
}

.news-card .card-title a {
  color: var(--black);
  text-decoration-color: var(--main-red);
}

.card-img-container {
  position: relative;
}

.card-img-container .category {
  background-color: var(--white);
  opacity: 0.85;
  position: absolute;
  bottom: 0;
  left: 0px;
  padding: 5px 10px;
  margin: 0;
  color: var(--main-red);
  text-transform: uppercase;
  font-weight: bold;
}

.middle {
  border-top: 2px solid var(--body-color);
  padding-top: 10px;
  min-height: 250px;
  order: 1;
}

.heroes .card-title a {
  font-size: 15px;
  text-decoration: none;
  color: var(--secondary-grey);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-horizontal .card-body {
  padding: 0 1.25rem;
}

.more-stories .card-title {
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1em;
}

.more-stories .card-title a {
  color: var(--black);
  text-decoration-color: var(--main-red);
}

.right-aside {
  background-color: var(--pink);
  min-height: 120px;
  order: 3;
}

.section {
  min-height: 120px;
  background-color: var(--white);
}

.section-heading {
  margin-top: 35px;
  text-transform: uppercase;
  margin-bottom: -15px;
}

.section-heading h5 {
  font-weight: bold;
}

.mark {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: var(--white);
  background-color: var(--main-red);
}

.card-category,
.card-keyword {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  text-transform: uppercase;
}

.card-keyword {
  background-color: var(--main-red);
  color: var(--white);
}

.card-category {
  color: var(--main-red);
}

.category-section-title {
  color: var(--main-red);
  font-weight: bold;
  font-size: 1.4em;
}

.more-news .card-title {
  color: var(--black);
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1em;
}

.more-news .card-title a {
  color: var(--black);
  text-decoration: none;
}

.more-news .card-title a:hover {
  color: var(--main-red);
}

.subscribe {
  padding: 30px;
  background-color: #f4f5f6;
}

.sign-up .card-title,
.subscribe .card-title {
  font-weight: bold;
  font-size: 1.7em;
}

.subscribe-cta {
  border-radius: unset;
  background-color: var(--main-red);
  border: none;
  padding: 5px 25px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe-cta:hover,
.subscribe-cta:active,
.subscribe-cta:visited {
  background-color: var(--main-red) !important;
}

.sign-up {
  max-height: 290px;
  overflow: hidden;
}

.sign-up .card-body {
  padding: 1.25em;
}

.footer {
  min-height: 60px;
  background-color: var(--cyan);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .left-aside {
    order: 1;
  }

  .middle {
    order: 2;
  }

  .middle {
    max-height: 2185px;
    overflow: scroll;
  }

  .middle::-webkit-scrollbar {
    display: none;
  }

  .middle {
    -ms-overflow-style: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .date {
    display: block;
  }

  /* ======= Header ======= */
  .header {
    height: 95px;
    padding: 20px 10px 15px;
  }

  .logo {
    max-width: 375px;
    height: 90px;
  }

  .header-buttons,
  .date {
    align-self: flex-end;
  }

  .header-buttons button,
  .date {
    font-size: 18px;
  }

  .header-menu {
    display: none !important;
  }

  /* ======= Nav ======= */
  .navbar {
    display: flex;
    height: 56px;
    background-color: var(--white);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1310px;
  }
}
